doctype html
html
	head
		title «Navystavke»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include includes/header
		include includes/controls
		include includes/aside
		include includes/up-slider
		include includes/info-slider
		include includes/user
		include includes/banner
		include includes/articles
		include includes/footer

		+header()
		+controls()
		+aside()
		.container-l
			+up-slider()
			+info-slider()
			+user()
			+banner()
			+articles()
		+footer()