.calendar {
	margin-bottom: 40px;

	&__title {
		margin-bottom: 17px;
		display: inline-block;
		vertical-align: top;
		padding: 8px;
		background: #d44133;
		color: #fff;

		&-left {
			float: left;
			margin-right: 14px;
			@include font-mp-reg();
			font-size: 21px;
			line-height: 1em;
		}
		
		&-year {
			float: right;
			@include font-roboto-reg();
			font-size: 42px;
			line-height: 1;
		}
	}

	&__months {

		&-list {
			background: #e3e3e3;
			font-size: 0;
		}

		&-item {
			display: inline-block;
			vertical-align: middle;
			width: 25%;
			box-sizing: border-box;
			border-right: 1px dashed #868686;
			padding: 0 15px;
			height: 30px;
			@include font-mp-reg();
			font-size: 14px;
			line-height: 30px;
			color: #868686;
			text-decoration: none;

			&:hover,
			&:focus {
				background: #d8d8d8;
			}

			&:nth-child(1) {
				text-align: right;
			}

			&:nth-child(4) {
				border: none;
			}
		}
	}

	&__slider {
		padding: 0 11px 7px;
		background: #e3e3e3;
		position: relative;

		&-bar {
			height: 10px;
			border-radius: 4px;
			border: 1px solid #dcdcdc;
			background: #fff;
			position: relative;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: -1px;
				height: 12px;
				width: 12px;
				background: #8d1d1d;
				border-radius: 50%;
			}

			&:before {
				left: -9px;
			}

			&:after {
				right: -9px;
			}
		}

		&-date {
			position: absolute;
			top: -26px;
			padding: 0 10px;
			border: 1px solid #dedede;
			border-radius: 3px;
			background: #fff;
			@include font-mp-reg();
			font-size: 11px;
			line-height: 14px;
			color: #000;
			text-align: center;

			&:before {
				content: '';
				position: absolute;
				top: 100%;
				@include sprite($calendar-angle);
			}

			&._start {
				left: 4px;

				&:before {
					left: 12px;
				}
			}

			&._end {
				right: 4px;

				&:before {
					right: 12px;
					transform: scaleX(-1);
				}
			}
		}
	}

	&__load {
		padding-bottom: 4px;
		background: #e3e3e3;
		position: relative;

		&-columns {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&-column {
			display: inline-block;
			vertical-align: middle;
			width: 25%;
			box-sizing: border-box;
			border-right: 1px dashed #868686;
			padding: 0 15px;
			height: 100%;
			@include font-mp-reg();
			font-size: 14px;
			line-height: 30px;
			color: #868686;

			&:nth-child(1) {
				text-align: right;
			}

			&:nth-child(4) {
				border: none;
			}
		}

		&-items {
			padding: 0 3px;
		}

		&-item {
			height: 5px;
			box-sizing: border-box;
			padding: 1px 0;
			position: relative;
		}

		&-bar {
			position: absolute;
			top: 1px;
			left: 0;
			right: 0;
			bottom: 1px;
			background: #626262;
			
			&:hover,
			&:focus {
				background: #d44133;
			}
		}
	}

	&__week {

		&-header {
			font-size: 0;
			border-bottom: 1px dashed #c2c2c2;
		}

		&-day {
			display: inline-block;
			vertical-align: top;
			width: 1 / 9 * 100%;
			height: 43px;
			box-sizing: border-box;
			border-left: 1px solid #c2c2c2;
			background: linear-gradient(to bottom, #d8d8d8 32px, transparent 32px);
			@include font-mp-reg();
			font-size: 16px;
			line-height: 32px;
			color: #000;
			text-align: center;
			
			&:first-child,
			&:last-child {
				color: #9b9b9b;
			}

			&:first-child {
				border: none;
			}

			i {
				font-style: normal;
			}

			&._active {
				background: linear-gradient(to bottom, #d44133 32px, transparent 32px);

				color: #fff;
				
				i {
					color: #000;
				}
			}
		}

		&-line {
			height: 35px;
			box-sizing: border-box;
			border-bottom: 1px dashed #c2c2c2;
			position: relative;
		}

		&-event {
			display: block;
			position: absolute;
			right: 0;
			padding: 0 0 0 5px;
			background: #fff;
			border-left: 1px solid #c2c2c2;
			@include font-mp-reg();
			font-size: 14px;
			line-height: 34px;
			color: #000;
			text-decoration: none;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			@for $i from 1 through 9 {

				&._start-#{$i} {
					left: ($i - 1) / 9 * 100%;
					
					@if $i == 1 or $i == 9 {
						color: #6f6f6f;
					}
				}
			}

			&:hover {
				background: #d44133;
				color: #fff;
			}
		}
	}
}