.company {
	margin-bottom: 27px;

	&__item {
		line-height: 0;
		margin-bottom: 18px;

		img {
			display: block;
			float: left;
			width: 132px;
		}
	}

	&__text {
		margin-left: 142px;
	}

	&__title,
	p {
		margin: 0;
	}

	&__banner {
		line-height: 0;

		img {
			max-width: 100%;
		}
	}
}