@font-face {
	font-family: MyriadPro-Regular;
	src: url(../fonts/MyriadPro-Regular.otf);
			 //url(../fonts/FuturaPTMedium.woff2) format('woff2'),
			 //url(../fonts/FuturaPTMedium.woff) format('woff');
	font-weight: normal;
}
@mixin font-mp-reg() {
	font-family: MyriadPro-Regular, sans-serif;
}

@font-face {
	font-family: CenturyGothic;
	src: url(../fonts/CenturyGothic.ttf);
	font-weight: normal;
}
@mixin font-cg() {
	font-family: CenturyGothic, sans-serif;
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
	font-weight: normal;
}
@mixin font-roboto-reg() {
	font-family: Roboto-Regular, sans-serif;
}