.footer {
	background: #c5c5c5;

	&__wrapper {
		padding-left: 86px;
		display: flex;
		align-items: center;
		height: 145px;
		position: relative;

		&:before,
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			width: 126px;
			height: 123px;
			background: url("../img/footer-ornament.png") no-repeat center center;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
			transform: scaleX(-1);
		}
	}

	&__menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 25%;
		position: relative;
		z-index: 1;

		&:nth-of-type(1) {

			li {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&:nth-of-type(2) {

			li {
				margin-bottom: 7px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&:nth-of-type(3) {

			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__link {
		display: inline-block;
		vertical-align: top;
		@include font-mp-reg();
		font-size: 17px;
		line-height: 1em;
		color: #3c3c3b;

		&:hover,
		&:focus {
			color: #a81802;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		width: 25%;
		position: relative;
		z-index: 1;
	}

	&__logo {
		margin-bottom: 12px;
	}

	&__years,
	&__license {
		margin-bottom: 12px;
		@include font-mp-reg();
		font-size: 15px;
		line-height: 1.2em;
		color: #000;
		text-decoration: underline;
	}
	
	&__license {
		color: #575757;
	}
}