.footer {
	background: #c5c5c5;
	overflow: hidden;

	&__wrapper {
		display: table;
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: justify;
	}

	&__ornament {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		&-left,
		&-right {
			position: absolute;
			bottom: -115px;
			width: 230px;
			height: 230px;
		}

		&-left {
			left: -100px;
		}

		&-right {
			right: -100px;
		}
	}

	&__menu {
		//display: flex;
		//flex-direction: column;
		//justify-content: space-between;
		display: table-cell;
		vertical-align: middle;
		padding-top: 10px;
		box-sizing: border-box;
		//width: 25%;
		height: 145px;
		position: relative;
		z-index: 1;

		&:nth-of-type(1) {
			width: 24.1%;
		}

		&:nth-of-type(2) {
			width: 23.1%;

			li {
				margin-bottom: 4px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&:nth-of-type(3) {

			li {
				margin-bottom: 7px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__link {
		display: inline-block;
		vertical-align: top;
		@include font-mp-reg();
		font-size: 16px;
		line-height: 1em;
		color: #3c3c3b;
		text-align: left;

		&:hover,
		&:focus {
			color: #a81802;
		}
	}

	&__info {
		//display: flex;
		//flex-direction: column;
		//justify-content: space-between;
		//align-items: flex-end;
		display: table-cell;
		vertical-align: middle;
		padding-top: 10px;
		box-sizing: border-box;
		text-align: right;
		position: relative;
		z-index: 1;
	}

	&__logo {
		margin-bottom: 12px;
	}

	&__years,
	&__license {
		margin-bottom: 12px;
		@include font-mp-reg();
		font-size: 15px;
		line-height: 1.2em;
		color: #000;
		text-decoration: underline;
	}
	
	&__license {
		color: #575757;
	}

	@media (max-width: 1279px) {

		&__menu {

			&:nth-of-type(1) {
				width: 25.5%;
			}

			&:nth-of-type(2) {
				width: 25%;
			}
		}
	}

	@media (max-width: 1023px) {

		&__wrapper {
			font-size: 0;
		}

		&__menu {
			display: inline-block;
			vertical-align: top;
			height: auto;
			margin-bottom: 15px;

			&:nth-of-type(1),
			&:nth-of-type(3) {
				width: 51.6%;
				padding-left: 5px;

				li {
					margin-bottom: 7px;
				}
			}

			&:nth-of-type(2) {
				width: 48.4%;

				li {
					margin-bottom: 7px;
				}
			}

			li {
				margin-bottom: 7px;
			}
		}

		&__info {
			display: inline-block;
			vertical-align: top;
			width: 48.4%;
			//width: 287px;
		}
	}

	@media (max-width: 799px) {

		&__info {
			//width: 203px;
		}

		&__logo {

			&.logo {

				svg {
					width: 36px;
					height: 36px;
					margin-right: 15px;
				}
			}

			.logo {

				&__title {
					font-size: 27px;
					letter-spacing: -.1em;
				}

				&__subtitle {
					font-size: 14px;
					letter-spacing: -.05em;
				}
			}
		}

		&__license {
			font-size: 12px;
		}
	}

	@media (max-width: 530px) {

		&__menu {

			&:nth-of-type(1),
			&:nth-of-type(2),
			&:nth-of-type(3) {
				display: block;
				padding: 10px 0;
				width: 100%;
			}
		}

		&__item {
			text-align: center;
		}

		&__info {
			display: block;
			width: 100%;
			text-align: center;
		}
	}
}