.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: #ebebeb;

	&__up {
		height: 45px;
		display: flex;
		align-items: center;
		@include font-mp-reg();
		font-size: 15px;
		line-height: 20px;
		color: #000;
		text-decoration: none;

		a{
			text-decoration: none;
		}
	}

	&__enter {
		display: flex;
		align-items: center;
		margin-left: 51.5%;
		margin-right: 71px;
		color: #000;

		&-image {
			width: 30px;
			height: 30px;
			box-sizing: border-box;
			margin-right: 17px;
			border: 1px solid #6f6f6f;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		svg {
			margin: 4px 2px 0 0;
			width: 18px;

			path {
				fill: #6f6f6f;
			}
		}

		&:hover {

			.header {

				&__enter {

					&-image {
						border-color: #d24a43;
						background: #d24a43;
					}
				}
			}

			svg {

				path {
					fill: #fff;
				}
			}
		}
	}

	&__participate {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 15px;
		color: #000;
		
		&:hover {
			background: #d24a43;
			color: #fff;
		}
	}

	@media (max-width: 1023px) {

		&__up {
			justify-content: center;
		}

		&__enter {
			margin-left: 58px;
		}
	}

	@media (max-width: 799px) {

		&__up {
			justify-content: flex-start;
		}

		&__enter {
			margin: 0 0 0 78px;
		}

		&__participate {
			display: none;
		}
	}
}