.info-slider {
	margin: 0 -7px 8px;

	&__item {
		display: block;
		padding: 0 7px;
		text-decoration: none;
	}

	&__bg {
		height: 256px;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;

		&:hover {

			.info-slider {

				&__text {
					top: 49px;
					margin-top: 0;
					bottom: 0;
				}
			}
		}
	}

	&__text {
		position: absolute;
		top: 100%;
		margin-top: -70px;
		left: 26px;
		right: 29px;
		bottom: 0;
		padding: 10px 16px 0;
		transition: all .25s;

		&._allports {
			background: #006fab;
		}

		&._cerulean {
			background: #009ad6;
		}

		&._sushi {
			background: #6f9e30;
		}

		&._tree-poppy {
			background: #ff9e1c;
		}

		span {
			@include font-mp-reg();
			font-size: 14px;
			line-height: 1.2em;
			color: #fff;
		}

		p {
			@include font-mp-bold();
			font-size: 24px;
			line-height: 35px;
			color: #fff;
		}

		&-up {
			padding-bottom: 10px;
		}

		&-down {
			padding-top: 10px;
			border-top: 1px solid #fff;
		}
	}

	&__statistics {
		padding: 5px 28px;
		display: flex;
		align-items: center;


		&-item {
			margin-right: 5px;
			@include font-mp-bold();
			font-size: 10px;
			line-height: 1.2em;
			color: #999;
			display: inline-flex;
			align-items: center;

			&:last-child {
				margin-right: 0;
			}

			svg {
				margin-right: 5px;
			}
		}
	}

	.slider-nav {
		border-color: #fff;
		border-width: 2px;
		width: 16px;
		height: 16px;
		top: 122px;

		&._prev {
			left: 21px;
		}

		&._next {
			right: 21px;
		}
	}
}