.register {
	font-size: 0;
	background: linear-gradient(to right, #d44133, #ff8559);

	&__form {
		display: flex;
		justify-content: space-between;
		padding-right: 34px;
	}

	&__text {
		display: inline-block;
		vertical-align: top;
		width: 37%;
		box-sizing: border-box;
		padding: 5px 5px 5px 10px;

		h3 {
			@include font-mp-reg();
			font-size: 20px;
			line-height: 1em;
			color: #fff;
			margin-bottom: 21px;
		}

		p {
			@include font-mp-reg();
			font-size: 12px;
			line-height: 1.3em;
			color: #fff;
		}
	}

	&__form {

		&-inputs {
			padding-top: 9px;
		}

		&-end {
			padding-top: 8px;
		}
	}

	&__social {
		font-size: 0;
		margin-bottom: 15px;

		p {
			@include font-mp-reg();
			font-size: 12px;
			line-height: 1.2em;
			color: #fff;
			margin-bottom: 9px;
		}

		&-item {
			display: inline-block;
			vertical-align: top;
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}
		}

		&-link {

			svg {
				display: block;
				width: 22px;
				height: 22px;
				box-shadow: 2px 2px 2px 0 rgba(0,0,0,.25);
			}
		}
	}

	&__data {

		p {
			@include font-mp-reg();
			font-size: 12px;
			line-height: 1.2em;
			color: #fff;
			margin-bottom: 8px;
		}
	}

	&__label {
		display: block;
		position: relative;
		margin-bottom: 7px;

		svg {
			display: block;
			position: absolute;
			top: 50%;
			left: 11px;
		}

		&._login {

			svg {
				margin-top: -11px;
			}
		}

		&._email {

			svg {
				margin-top: -11px;
			}
		}
	}

	&__input {
		display: block;
		width: 180px;
		padding: 0 10px 0 40px;
		box-sizing: border-box;
		height: 30px;
		border: 1px solid transparent;
		border-radius: 15px;
		outline: none;
		background: #fff;
		@include font-mp-reg();
		font-size: 18px;
		line-height: 28px;
		color: #000;
		
		&:focus {
			border-color: #6f9e30;

			& + svg {

				path {
					fill: #6f9e30;
				}
			}
		}
	}

	&__captcha {
		width: 136px;
		height: 68px;
		padding: 7px 5px;
		margin-bottom: 16px;
		box-sizing: border-box;
		background: #e4e4e4;
		text-align: center;
		position: relative;

		&-input {
			display: none;

			&:checked + label .checked {
				display: block;
				position: absolute;
				top: 3px;
				left: 2px;
				width: 20px;
				height: 17px;
			}
		}

		&-label {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 7px;
			@include font-mp-reg();
			font-size: 14px;
			line-height: 1.2em;
			color: #4c4c4c;
			white-space: nowrap;
			text-align: center;
			cursor: pointer;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 24px;
				height: 24px;
				background: #fff;
				border-radius: 3px;
				margin-right: 10px;
			}

			.checked {
				display: none;
			}
		}
	}

	&__form {

		&-buttons {

			button {
				display: block;
				height: 29px;
				width: 140px;
				border-radius: 15px;
				border: none;
				outline: none;
				background: #4c4c4c;
				margin-bottom: 8px;
				@include font-mp-reg();
				line-height: 29px;
				color: #fff;
				text-align: center;

				&:hover,
				&:focus {
					background: #6f9e30;
				}
			}
		}
	}

	&__login {
		font-size: 18px;
		text-transform: uppercase;
	}

	&__signup {
		font-size: 13px;
	}

	@media (max-width: 1023px) {
		position: relative;

		&__text {
			position: absolute;
			width: 275px;
			padding: 0;
			margin: 0;
			top: 8px;
			left: 17px;

			br {
				display: none;
			}

			h3 {
				margin: 0;
			}

			p {
				display: none;
			}
		}

		&__form {
			padding-right: 28px;

			&-inputs {
				padding-top: 58px;
				padding-left: 19px;
				display: flex;
				justify-content: space-between;
				width: 61.5%;
			}
		}

		&__social {
			margin: 0;

			p {
				margin-bottom: 5px;
			}

			&-list {
				width: 112px;
			}

			&-item {
				margin-right: 11px;
				margin-bottom: 7px;

				&:nth-child(3n) {
					margin-right: 0;
				}
			}

			&-link {

				svg {
					width: 30px;
					height: 30px;
				}
			}
		}

		&__data {

			p {
				margin-bottom: 9px;
			}
		}

		&__input {
			width: 160px;
		}

		&__captcha {
			margin-bottom: 11px;
		}
	}

	@media (max-width: 570px) {

		&__form {
			display: block;
			padding: 6px 12px 45px 8px;
			position: relative;

			&-inputs {
				padding: 0;
				display: block;
				width: auto;
			}

			&-end {
				position: absolute;
				bottom: 4px;
				right: 15px;
				padding: 0;
			}
		}

		&__text {
			position: static;
			width: auto;
			margin-bottom: 15px;
		}

		&__social {
			width: auto;
			margin-bottom: 24px;

			&:after {
				display: table;
				clear: both;
				content: '';
			}

			p {
				float: left;
				width: 80px;
				font-size: 14px;
			}

			&-list {
				float: right;
				width: auto;
				text-align: right;
			}

			&-item {
				margin-right: 12px;

				&:nth-child(3) {
					margin-right: 12px;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__data {
			width: 192px;

			p {
				width: 120px;
				font-size: 18px;
				line-height: 1em;
				margin-bottom: 16px;
			}
		}

		&__label {

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&__input {
			width: 100%;
		}

		&__captcha {
			margin-bottom: 16px;
		}
	}
}