.tags {
	font-size: 0;
  
	&__link {
		display: inline-block;
		margin-right: 4px;
		margin-bottom: 6px;
		vertical-align: top;
		height: 24px;
		box-sizing: border-box;
		border: 1px solid #888;
		border-radius: 9px;
		padding: 0 9px;
		@include font-mp-reg();
		font-size: 16px;
		line-height: 22px;
		color: #5e5e5e;
		text-align: center;
		text-decoration: none;
		
		&:hover,
		&:focus {
			background: #d44133;
			border-color: #d44133;
			color: #fff;
		}
	}
}