.tenders {

	&__item {
		margin-bottom: 15px;
	}

	&__info {
		float: left;
		width: 130px;
		box-sizing: border-box;
		padding: 4px 10px 4px 18px;
		background: #cbcbcb;
		@include font-mp-reg();
		font-size: 15px;
		line-height: 1.2em;
	}
	
	&__number {
		color: #000;
	}
	
	&__date {
		color: #fff;
	}

	&__text {
		margin-left: 140px;
	}

	&__title,
	p {
		margin: 0;
	}
}