.up-slider {
	margin-bottom: 29px;
	white-space: nowrap;
	overflow: hidden;

	&__item {
		display: inline-block;
		vertical-align: top;
		font-size: 0;

		img {
			max-width: 100%;
		}
	}

	.slider-nav {
		width: 14px;
		height: 14px;

		&._prev {
			top: 22px;
			right: 35px;
			left: auto;
		}

		&._next {
			top: 22px;
			right: 16px;
		}
	}

	@media (max-width: 1023px) {
		margin-bottom: 19px;

		.slider-nav {
			height: 8px;
			width: 8px;
			border-width: 2px;

			&._prev {
				top: 17px;
				right: 20px;
			}

			&._next {
				top: 17px;
				right: 9px;
			}
		}
	}

	@media (max-width: 799px) {
		display: none;
	}
}