.user {
	display: table;
	margin-bottom: 21px;

	&__list {
		width: 370px;
		display: table-cell;
		vertical-align: top;
	}

	&__form {
		width: 810px;
		display: table-cell;
		vertical-align: top;
	}
}