.video {

	&__list {
		font-size: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 48.7%;
		margin-right: 2.6%;
		margin-bottom: 10px;
		text-decoration: none;

		&:nth-child(2n) {
			margin-right: 0;
		}

		img {
			display: block;
			width: 100%;
			margin-bottom: 5px;
		}
	}

	@media (max-width: 1279px) {

		&__item {
			width: 100%;
			margin-right: 0;

			p {
				display: none;
			}
		}
	}

	@media (max-width: 1023px) {
		margin-bottom: 40px;

		&__item {
			width: 48.7%;
			margin-right: 2.6%;

			p {
				display: block;
			}
		}
	}
}