include news
include announcement
include media
include exhibitions
include experts
include tenders
include company
include calendar
include video
include link-banner

mixin articles()
	.articles
		.articles__left
			+news()
			+announcement()
			+media()
			+exhibitions()
		.articles__right
			+experts()
			+tenders()
			+company()
			+calendar()
			+link-banner()
			+video()