mixin calendar()
	.calendar.js-calendar
		.calendar__title.clearfix
			.calendar__title-left календарь <br>выставок
			.calendar__title-year 2017
		.calendar__months
			.calendar__months-list
				each val in ['январь', '', '', 'февраль']
					a(href='#').calendar__months-item!= val
			.calendar__slider
				.calendar__slider-bar
				.calendar__slider-date._start 09.01.2017
				.calendar__slider-date._end 05.02.2017
			.calendar__load
				.calendar__load-columns
					-var j = 0
					while j < 4
						.calendar__load-column
						-j++
				-var i = 0
				.calendar__load-items
					while i < 6
						.calendar__load-item
							.calendar__load-bar.js-calendar-load-item
						-i++
		.calendar__week
			.calendar__week-header
				each val, index in ["Вс <i>8</i>", "Пн <i>9</i>", "Вт <i>10</i>", "Ср <i>11</i>", "Чт <i>12</i>", "Пт <i>13</i>", "Сб <i>14</i>", "Вс <i>15</i>", "Пн <i>16</i>"]
					.calendar__week-day(class='#{index == 2 ? "_active" : ""}')
						span!= val
			.calendar__week-content
				-
					var list = [
						{
							"title": "SMIT: 60 minutes in tomorrow 2017, Центр современного искусства",
							"place": 3
						},
						{
							"title": "Меховая Выставка-Продажа, Крокус-Экспо",
							"place": 4
						},
						{
							"title": "Junwex Петербург. 2017, Экспофорум",
							"place": 6
						},
						{
							"title": "Aquaterm MOSCOW 2017, Крокус-Экспо",
							"place": 3
						},
						{
							"title": "«Молодые профессионалы — 2017» Пермского края, Пермская ярмарка",
							"place": 3
						},
						{
							"title": "АгроФарм 2",
							"place": 9
						}
					]
				each val in list
					.calendar__week-line
						a.calendar__week-event(href='#', class="_start-#{val.place}").js-calendar-tooltip.js-calendar-week-item!= val.title
							.event-tooltip.js-calendar-tooltip-data(style='display: none;')
								.event-tooltip__date 05-30 #[span февраля]
								.event-tooltip__name Ювелирная выставка
								.event-tooltip__place.clearfix
									img(src='../img/svg/junewex.svg')
									span Junwex Петербург. 2017, <br>Экспофорум