mixin footer()
	footer.footer

	script(src='js/jquery-3.0.0.min.js')
	//script(src='js/jquery-ui.min.js')
	script(src='js/slick.min.js')
	//script(src='js/TweenMax.js')
	//script(src='js/ScrollMagic.js')
	//script(src='js/debug.addIndicators.js')
	//script(src='js/animation.gsap.js')
	//script(src='js/scrollreveal.js')
	script(src='js/script.js')