mixin header()
	.header
		.header__up.container
			a(href='#').header__enter
				.header__enter-image
					img(src='../img/svg/enter.svg')
				|войти
			a(href='#').header__participate стать участником