mixin link-banner()
	.link-banner
		.link-banner__image
			img(src='img/link-banner.png', alt='link-banner')
		.link-banner__title выставки <br>и реклама <br>для вашего <br>бизнеса
		.link-banner__text
			p как создать выставку? Где найти аудиторию? Сколько вложений понадобиться?
			a(href='#').link-banner__link помощь участия в выставке