include articles-title

mixin video()
	.video
		+articles-title() видео
		.video__list
			-var i = 0
			while i < 2
				.video__item
					img(src='img/video.jpg', alt='video')
					.video__title.articles__text-md._gray POWX Solid Dialogue Moscow 2016
					p Выставка POWX прошла в Москве 13-15 сентября 2016 года. Данное мероприятие было посвящено современным технологиям обработки порошковых и сыпучих материалов при первичном и вторичном воздействии.
				-i++